@import "_vars.scss";

@mixin reset {
  * {
    position: static;
    display: block;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 1em;
    font-style: normal;
    font-family: $font-sans-serif; 
    line-height: 1em;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    vertical-align: baseline;
    white-space: normal;
    border: none;
    outline: none;
    list-style: none;
    background: none;
    color: $color-black;
  }

  form *:focus {
    outline: none;
    border: none;
  }

  body { font-size: 16px; }
}
