$pad: 0.5em;
$borderwidth: 1px;

$font-serif: 'Zilla Slab', serif; 
$font-sans-serif: 'Lato', sans-serif;
$font-monospace: 'Roboto Mono', monospace;

$color-black: #000;
$color-white: #fff;
$color-darkgrey: #44444b;
$color-grey: #77777b;
$color-lightgrey: #aaaaab;
$color-error: #ff7a7a;
$color-success: #2aaa2a;
$color-main: #7abaef;
$color-accent: #4a4ae4;
